			<div class="slides">
				<section data-transition="fade-out" data-background-image="https://biyn.bitbucket.io/chess-3960184_1280.jpg">
					<p class="fat" align='left'>Imagine a board game like chess &nbsp;
						<i class='fas fa-chess fa-2x' style='color:#774030;'></i> 
						<i class='fas fa-chess-knight fa-2x' style='color:#774030;'></i> 
						<i class='fas fa-chess-bishop fa-2x' style=';color:#774030'></i> 
						<i class='fas fa-chess-pawn fa-2x' style='color:#a7a010'></i></p>
					<ul font-style: italic; >
						<li>each player to move only once in their turn</li>
						<li>wait indefinitely for the other party to move</li>
					</ul>
				</section>
				<section data-transition="zoom">
					<p class="fat" align="left">So also is it between God and us humans:</p>
					<ul class="diminish">
						<li>God made man in His likeness and gave him a law</li>
						<li>Man rebelled, brought sin and death - bad move &nbsp;<i class="far fa-thumbs-down fa-xs"></i></li>
						<li>God's amazing move - He sent His Son to die for our sins &nbsp;<i class="fas fa-thumbs-up fa-xs"></i></li>
						<li>Now it is each human's turn to move: repent and be saved</li>
					</ul>
				</section>
				<section>
					<section>
						<p align="left"> It is your turn</p>
						<p align="left"> No matter how much God wants to, He cannot:</p>
						<ul>
							<li>send His Son to die for you</li>
							<li>save you</li>
							<li>give you the Holy Spirit</li>
						</ul>
						<p align="left">He waits for you to move</p>

						<p class="more">navigate downwards for more</p>	
					</section>
					<section>
						<aside class="notes">
							<p style="font-size: 70%">Romans 8:32 He that spared not his own Son, but delivered him up for us all, how shall he not with him also freely give us all things? </p>
							<p style="font-size: 70%">2 Peter 3:9 The Lord is not slack concerning his promise, as some men count slackness; but is longsuffering to us-ward, not willing that any should perish, but that all should come to repentance. </p>
						</aside>
						If it was up to God, He would have done it. He proved that He wants us to be saved so much when He gave His son. <hr> God wants people to be saved even more than they want to be saved. God is waiting for us. Repent repent repent	
					</section>
				</section>
				<section data-background-color="#7f0000" data-transition="fade">
					<aside class="notes">
						<p style="font-size: 70%">Psalms 107:17-19 Fools because of their transgression, and because of their iniquities, are afflicted. 18 Their soul abhorreth all manner of meat; and they draw near unto the gates of death. 19 Then they cry unto the LORD in their trouble, and he saveth them out of their distresses. </p>
					</aside>
					<p class="fat">But many people are waiting for God. They ask:</p>
					<ul class="diminish">
						<li class="fragment">God, Are You there?</li>
						<li class="fragment">Do you love me?</li>
						<li class="fragment">Can You hear me?</li>
						<li class="fragment">Why don't You come and save me?</li>
					</ul>
				</section>
				<section>
					<aside class="notes">
						<p style="font-size: 70%">1 John 5:13 These things have I written unto you that believe on the name of the Son of God; that ye may know that ye have eternal life, and that ye may believe on the name of the Son of God.</p>
					</aside>
					<p class="fat">The truth is people don't know what to do</p>
					<p class="fragment">This presentation examines:</p>
					<ul class="diminish">
						<li class="fragment">what happened</li>
						<li class="fragment">what God did</li>
						<li class="fragment">what you need to do</li>
						<li class="fragment">what will happen when you do this</li>
						<li class="fragment">if you do this, God will do this for you</li>
					</ul>
					<p class="fragment">By the end, you should know how to have peace with God</p>
				</section>
				<section data-background-color="#235045" data-transition="zoom-in fade-out">
					<h1 style="font-weight: bold; color: #A62244">the background</h1>
				</section>
				<section>
					<aside class="notes" >
						<span style="font-size: 70%;">						
							<p>Genesis 1:1 In the beginning God created the heaven and the earth. </p>
							<p>Genesis 1:26 And God said, Let us make man in our image, after our likeness: and let them have dominion over the fish of the sea, and over the fowl of the air, and over the cattle, and over all the earth, and over every creeping thing that creepeth upon the earth.</p>
							<p>Genesis 1:31 And God saw every thing that he had made, and, behold, it was very good. And the evening and the morning were the sixth day. </p>
						</span>
					</aside>
					<p align="left">In the beginning, God created man after His likeness - Adam &amp; Eve</p>
					<p align="left" class="fragment">God gave them dominion over all of His creation</p>
					<p align="left" class="fragment">They had free and open fellowship with God</p>
					<p align="left" class="fragment">Everything was perfect 
						<span class="fragment">- No wars,</span>
						<span class="fragment">no sin,</span>
						<span class="fragment">disease,</span>
						<span class="fragment">murder,</span>
						<span class="fragment">earthquake,</span>
						<span class="fragment">rape</span>
						<span class="fragment"> - all the things in the news</span></p>
				</section>
				<section>
					<aside class="notes">
						<p style="font-size: 70%">Genesis 2:9 And out of the ground made the LORD God to grow every tree that is pleasant to the sight, and good for food; the tree of life also in the midst of the garden, and the tree of knowledge of good and evil. </p>
						<p style="font-size: 70%">Genesis 2:16 And the LORD God commanded the man, saying, Of every tree of the garden thou mayest freely eat: </p>
						<p style="font-size: 70%">Genesis 2:17 But of the tree of the knowledge of good and evil, thou shalt not eat of it: for in the day that thou eatest thereof thou shalt surely die. </p>
					</aside>
					<p align="left">There were some trees in the garden, including:</p>
					<ul>
						<li>the tree of life</li>
						<li>the tree the knowledge of good and evil</li>
					</ul>
					<p align="left" class="fragment">God said they could eat of any tree of the garden - including the tree of life - which would make them live forever</p>
					<p style="color: red" align="left" class="fat fragment">But He warned them not to eat of the tree of the knowledge of good and evil which will bring death</p>
				</section>
				<section>
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Genesis 3:4-6 And the serpent said unto the woman, Ye shall not surely die: 5 For God doth know that in the day ye eat thereof, then your eyes shall be opened, and ye shall be as gods, knowing good and evil. 6 And when the woman saw that the tree was good for food, and that it was pleasant to the eyes, and a tree to be desired to make one wise, she took of the fruit thereof, and did eat, and gave also unto her husband with her; and he did eat.</p>
							<p>Genesis 3:22-24 And the LORD God said, Behold, the man is become as one of us, to know good and evil: and now, lest he put forth his hand, and take also of the tree of life, and eat, and live for ever: 23 Therefore the LORD God sent him forth from the garden of Eden, to till the ground from whence he was taken. 24 So he drove out the man; and he placed at the east of the garden of Eden Cherubims, and a flaming sword which turned every way, to keep the way of the tree of life. </p>
						</span>
					</aside>
					<ul>
						<li>Man rebelled against God and ate of the forbidden tree - sin and death entered</li>
						<li class="fragment">God wanted to prevent sinful man from eating of the tree of life and living forever in sin</li>
						<li class="fragment">He expelled them from the garden, and set angel guards to keep them out</li>
						<li class="fragment">Now they were separated from God</li>
					</ul>
				</section>
				<section>
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Genesis 4:8 And Cain talked with Abel his brother: and it came to pass, when they were in the field, that Cain rose up against Abel his brother, and slew him. </p>
							<p>Genesis 6:5 And GOD saw that the wickedness of man was great in the earth, and that every imagination of the thoughts of his heart was only evil continually. </p>
						</span>
					</aside>
					<div style="position: relative; margin: 100px;">
						
					<p style="color: purple">Now the world was very different</p>
					<p class="r1 fragment">There was rebellion</p>
					<p class="r2 fragment">Sin was allover</p>
					<p class="r3 fragment">They had children who killed each other</p>
					<p class="r4 fragment">Inventors of all kinds of evil</p>
					</div>
				</section>
				<section data-transition="zoom">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Genesis 6:6 And it repented the LORD that he had made man on the earth, and it grieved him at his heart. </p>
							<p>Genesis 6:7 And the LORD said, I will destroy man whom I have created from the face of the earth; both man, and beast, and the creeping thing, and the fowls of the air; for it repenteth me that I have made them. </p>
							<p>Genesis 6:13-18 And God said unto Noah, The end of all flesh is come before me; for the earth is filled with violence through them; and, behold, I will destroy them with the earth. 14 Make thee an ark of gopher wood... <br>17 And, behold, I, even I, do bring a flood of waters upon the earth, to destroy all flesh, wherein is the breath of life, from under heaven; and every thing that is in the earth shall die. 18 But with thee will I establish my covenant; and thou shalt come into the ark, thou, and thy sons, and thy wife, and thy sons' wives with thee </p>
						</span>
					</aside>
					<p style="color: blue" class="fat">God regretted that He had created man, because man's intention was only evil</p>
					<p><span class="fragment"> <span class="fragment highlight-red">He decided to destroy everyone of them</span></span></p>
					<p class="fragment fade-up" style="color: green">He saved Noah and his family and destroyed the rest of the world with the flood</p>	
				</section>
				<section style="color: lightgrey">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Genesis 18:20 And the LORD said, Because the cry of Sodom and Gomorrah is great, and because their sin is very grievous; </p>
							<p>Genesis 19:24-25 Then the LORD rained upon Sodom and upon Gomorrah brimstone and fire from the LORD out of heaven; 25 And he overthrew those cities, and all the plain, and all the inhabitants of the cities, and that which grew upon the ground. </p>
						</span>
					</aside>
					As soon as Noah came out, the problem was back - because sin is in man's nature - not an external influence 
					<hr>
					It was not enough for God to create the new earth and put the old man in the new world. 
					He would have to destroy it again
				</section>
				<section data-transition="convex">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Genesis 22:18 And in thy seed shall all the nations of the earth be blessed; because thou hast obeyed my voice. </p>
							<p>Isaiah 53:5-6 But he was wounded for our transgressions, he was bruised for our iniquities: the chastisement of our peace was upon him; and with his stripes we are healed. 6 All we like sheep have gone astray; we have turned every one to his own way; and the LORD hath laid on him the iniquity of us all. </p>
							<p>Isaiah 53:11 He shall see of the travail of his soul, and shall be satisfied: by his knowledge shall my righteous servant justify many; for he shall bear their iniquities. </p>
						</span>
					</aside>
					<p>So God decided to <span style="font-style: italic;">create</span>  a new man and later put the new man on the new earth</p>
					<p class="fragment fade-in-then-semi-out">This is where Jesus comes in. </p>
					<p style="float: left;" class="fragment"> He is The new Adam</p>
					<p style="font-weight: bold; font-size: larger; color: purple" class="fragment fade-up">The one who would conquer sin and death!</p>
				</section>
				<section data-background-color="#2f404c" data-transition="zoom">
					<h1 style="font-weight: bolder;color: orange;">THE PROBLEM OF SIN</h1>
				</section>
				<section data-transition="fade-out">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Romans 1:28-32 (KJV) And even as they did not like to retain God in their knowledge, God gave them over to a reprobate mind, to do those things which are not convenient; 29 Being filled with all unrighteousness, fornication, wickedness, covetousness, maliciousness; full of envy, murder, debate, deceit, malignity; whisperers, 30 Backbiters, haters of God, despiteful, proud, boasters, inventors of evil things, disobedient to parents, 31 Without understanding, covenantbreakers, without natural affection, implacable, unmerciful: 32 Who knowing the judgment of God, that they which commit such things are worthy of death, not only do the same, but have pleasure in them that do them.</p>
							<p>Proverbs 20:6 (KJV) Most men will proclaim every one his own goodness:but a faithful man who can find?</p>
							<p>Luke 6:41-42 (KJV) And why beholdest thou the mote that is in thy brother's eye, but perceivest not the beam that is in thine own eye? 42 Either how canst thou say to thy brother, Brother, let me pull out the mote that is in thine eye, when thou thyself beholdest not the beam that is in thine own eye? Thou hypocrite, cast out first the beam out of thine own eye, and then shalt thou see clearly to pull out the mote that is in thy brother's eye.</p>
						</span>
					</aside>
					 <p align="left">We are now living in the fallen world</p>
					 <p class="fragment" style="float: left;">look at the news reports</p>
					 <p class="fragment">and it is getting worse and worse everyday</p>
					 <p align="left" class="fragment fade-up" >Problem is we do not see sin the way we should:</p>
					 <ul class="fragment">
					 	<li>we compare ourselves with the people around us &nbsp;<i class="fas fa-blind" style="color: #886644"></i>&nbsp;<i class="fas fa-blind" style="color: #775533"></i></li>
					 	<li class="fragment">we find someone who is evil in a different way and say, <span style="font-style: italic;">'look at them - they are so much worse than me. I am not so bad!</span>'</li>
					 </ul>
				</section>
				<section data-transition="convex">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Leviticus 11:45 (KJV) For I am the LORD that bringeth you up out of the land of Egypt, to be your God: ye shall therefore be holy, for I am holy.</p>
							<p>1 Peter 1:15-16 (KJV) But as he which hath called you is holy, so be ye holy in all manner of conversation; 16 Because it is written, Be ye holy; for I am holy.</p>
							<p>Luke 18:9-14 (KJV) And he spake this parable unto certain which trusted in themselves that they were righteous, and despised others: 10 Two men went up into the temple to pray; the one a Pharisee, and the other a publican. 11 The Pharisee stood and prayed thus with himself, God, I thank thee, that I am not as other men are, extortioners, unjust, adulterers, or even as this publican. 12 I fast twice in the week, I give tithes of all that I possess. 13 And the publican, standing afar off, would not lift up so much as his eyes unto heaven, but smote upon his breast, saying, God be merciful to me a sinner. 14 I tell you, this man went down to his house justified rather than the other: for every one that exalteth himself shall be abased; and he that humbleth himself shall be exalted.</p>
						</span>
					</aside>
					<span> We should instead compare ourselves to God and the way He created us in the beginnning <i class="fragment fa fa-check fa-2x" style="float: right; color: green" ></i></span>
					<hr class="fragment"> 
					<span class="fragment">When we compare ourselves with others around us, we are as the blind leading the blind <i class="fragment fa fa-times fa-2x" style="float: right; color: red" ></i></span>
				</section>
				<section data-transition="fade-out">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Psalms 24:1 (KJV) The earth is the LORD's, and the fulness thereof; the world, and they that dwell therein.</p>
							<p>Psalms 98:8-9 (KJV) Let the floods clap their hands: let the hills be joyful together 9 Before the LORD; for he cometh to judge the earth: with righteousness shall he judge the world, and the people with equity.</p>
							<p>Jeremiah 17:9-10 (KJV) The heart is deceitful above all things, and desperately wicked: who can know it? 10 I the LORD search the heart, I try the reins, even to give every man according to his ways, and according to the fruit of his doings.</p>
						</span>
					</aside> 
					<span style="text-align: left;">
						<p class="fat"><i class="fa fa-hand-o-right"></i>&nbsp; This world belongs to God and it is His rules that count, not the ones we make <span style="font-style: italic; font-size: smaller;"> - Psalm 24:1</span></p>
						<p class="fragment fade-left"> It is not how we see ourselves that matters - it is how God see us</p>
						<p class="fragment fade-left"> God does not care about our standard of comparing ourselves to other sinful people</p>
					</span>
				</section>
				<section data-transition="fade-down">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Matthew 5:21-22 Ye have heard that it was said by them of old time, Thou shalt not kill; and whosoever shall kill shall be in danger of the judgment: 22 But I say unto you, That whosoever is angry with his brother without a cause shall be in danger of the judgment: and whosoever shall say to his brother, Raca, shall be in danger of the council: but whosoever shall say, Thou fool, shall be in danger of hell fire. </p>
							<p>Matthew 5:27-28 Ye have heard that it was said by them of old time, Thou shalt not commit adultery: 28 But I say unto you, That whosoever looketh on a woman to lust after her hath committed adultery with her already in his heart. </p>
							<p>James 2:10 (KJV) For whosoever shall keep the whole law, and yet offend in one point, he is guilty of all.</p>
						</span>
					</aside>
					<p align="left"> I was like that until I saw what God's law says:</p>
					<ul align="left" class="fragment">
						<li>Call someone an idiot and you are in danger of hell</li>
						<li class="fragment">Hated someone? (like in traffic?) It makes you a murderer</li>
						<li class="fragment">Looked with lust? An adulter</li>
					</ul>
					<p align="left" class="fragment">God judges our hearts, intentions, thoughts and character</p>
					<p align="left" class="fragment">If we break one law, we've broken them all</p>
				</section>
				<section>
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Romans 3:19-20 (KJV) Now we know that what things soever the law saith, it saith to them who are under the law: that every mouth may be stopped, and all the world may become guilty before God. 20 Therefore by the deeds of the law there shall no flesh be justified in his sight: for by the law is the knowledge of sin.</p>
							<p>Luke 17:7-10 But which of you, having a servant plowing or feeding cattle, will say unto him by and by, when he is come from the field, Go and sit down to meat? 8 And will not rather say unto him, Make ready wherewith I may sup, and gird thyself, and serve me, till I have eaten and drunken; and afterward thou shalt eat and drink? 9 Doth he thank that servant because he did the things that were commanded him? I trow not. 10 So likewise ye, when ye shall have done all those things which are commanded you, say, We are unprofitable servants: we have done that which was our duty to do. </p>
							<p>Romans 2:5 (KJV) But after thy hardness and impenitent heart treasurest up unto thyself wrath against the day of wrath and revelation of the righteous judgment of God;</p>
						</span>
					</aside>
					<p><i class="fas fa-balance-scale-left" style="color: gold"></i>&nbsp; Or do you think your good deeds will offset the evil ones?</p>
					<p class="fragment">The good is a zero - it is already expected of you</p>
					<p class="fragment convex">and with the evil, you are <span style="font-style: italic;">storing up wrath for yourself in the day of wrath, when God's righteous judgment is revealed <span style="float: right; 	 vertical-align: bottom;"> - Romans 2:5</span> </span></p>
				</section>
				<section>
					<aside class="notes">
						<span  style="font-size: 70%">
							<p>Romans 3:10-18 As it is written, There is none righteous, no, not one: 11 There is none that understandeth, there is none that seeketh after God. 12 They are all gone out of the way, they are together become unprofitable; there is none that doeth good, no, not one. 13 Their throat is an open sepulchre; with their tongues they have used deceit; the poison of asps is under their lips: 14 Whose mouth is full of cursing and bitterness: 15 Their feet are swift to shed blood: 16 Destruction and misery are in their ways: 17 And the way of peace have they not known: 18 There is no fear of God before their eyes.</p>
							<p>John 3:19-20 And this is the condemnation, that light is come into the world, and men loved darkness rather than light, because their deeds were evil. 20 For every one that doeth evil hateth the light, neither cometh to the light, lest his deeds should be reproved.</p>
						</span>
					</aside>
					<p align="left"><i class="fas fa-video fa-1x"></i> &nbsp;Supposing all the evil things that go thru your mind were recorded for a week and displayed for all to see</p>
					<p align="left" class="fragment"><i class="fas fa-user-lock fa-xs"></i> Secret thoughts &amp; deeds, when no one was looking</p>
					<p align="left" class="fragment">We would be ashamed for other sinful people to see our sin</p>
					<p align="left" class="fragment">How much more before the Holy God who has this view of us all the time</p>
				</section>
				<section>
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Psalms 130:3 (KJV) If thou, LORD, shouldest mark iniquities, O Lord, who shall stand?</p>
							<p>Revelation 21:8 (KJV) But the fearful, and unbelieving, and the abominable, and murderers, and whoremongers, and sorcerers, and idolaters, and all liars, shall have their part in the lake which burneth with fire and brimstone: which is the second death.</p>
							<p>Psalms 34:8 (KJV) O taste and see that the LORD is good: blessed is the man that trusteth in him</p>
							<p>Exodus 34:6-7 (KJV) And the LORD passed by before him, and proclaimed, The LORD, The LORD God, merciful and gracious, longsuffering, and abundant in goodness and truth, 7 Keeping mercy for thousands, forgiving iniquity and transgression and sin, and that will by no means clear the guilty; visiting the iniquity of the fathers upon the children, and upon the children's children, unto the third and to the fourth generation.</p>
							<p>Romans 2:4 (KJV) Or despisest thou the riches of his goodness and forbearance and longsuffering; not knowing that the goodness of God leadeth thee to repentance?</p>
							<p>Matthew 25:41 (KJV) Then shall he say also unto them on the left hand, Depart from me, ye cursed, into everlasting fire, prepared for the devil and his angels:</p>
						</span>
					</aside>
					<p align="left">Try to imagine standing defenseless before a totally holy and righteous God who sees everything</p>
					<p align="left" class="fragment">We will be guilty guilty guilty, and understand that we deserve hell</p>
					<p align="left" class="fragment">That is because God is good and we are not</p>
					<p align="left" class="fragment">But at that time, it is too late <i class="fas fa-hourglass-end" style="color: maroon"></i></p>
				</section>
				<section data-transition="fade-out">
					<aside class="notes">
						<p style="font-size: 70%">Romans 6:23 For the wages of sin is death; but the gift of God is eternal life through Jesus Christ our Lord.</p>
						<p style="font-size: 70%">Psalms 130:4 But there is forgiveness with thee, that thou mayest be feared.</p>
						<p style="font-size: 70%">Luke 5:32 I came not to call the righteous, but sinners to repentance.</p>
					</aside>
					<p align="left">God is not the problem. 
						<span class="fragment"> We are.</span>
						<span class="fragment">We have sinned</span></p>
					<p align="left" class="fragment">God could put us in hell and still be loving still be righteous, still be holy</p>
					<p align="left" class="fragment">In many ways He should have - it is a wage we have earned</p>
					<p align="left" class="fragment">He did not, but He made our forgiveness in Christ possible</p>
					<p align="left" class="fragment">This is why Jesus came to the world</p>
				</section>
				<section data-transition="zoom">
					<span style="font-size: 800%; color: orange; font-weight: bold;">Jesus</span>
				</section>
				<section data-transition="fade-up fade-down">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Matthew 1:18-25 Now the birth of Jesus Christ was on this wise: When as his mother Mary was espoused to Joseph, before they came together, she was found with child of the Holy Ghost. 19 Then Joseph her husband, being a just man, and not willing to make her a public example, was minded to put her away privily. 20 But while he thought on these things, behold, the angel of the Lord appeared unto him in a dream, saying, Joseph, thou son of David, fear not to take unto thee Mary thy wife: for that which is conceived in her is of the Holy Ghost. 21 And she shall bring forth a son, and thou shalt call his name JESUS: for he shall save his people from their sins. 22 Now all this was done, that it might be fulfilled which was spoken of the Lord by the prophet, saying, 23 Behold, a virgin shall be with child, and shall bring forth a son, and they shall call his name Emmanuel, which being interpreted is, God with us. 24 Then Joseph being raised from sleep did as the angel of the Lord had bidden him, and took unto him his wife: 25 And knew her not till she had brought forth her firstborn son: and he called his name JESUS.</p>
							<p>Hebrews 4:14-15 Seeing then that we have a great high priest, that is passed into the heavens, Jesus the Son of God, let us hold fast our profession. 15 For we have not an high priest which cannot be touched with the feeling of our infirmities; but was in all points tempted like as we are, yet without sin. </p>
						</span>
					</aside>
					<p align="left" >  Born of a virgin mother, Jesus did not sin like we do</p>
					<p align="left" class="fragment" style="font-size: 150%;"> He is the only man ever without sin!</p>
					<p align="left" class="fragment"> Where we have stolen, fornicated, spoken evil, blasphemed, etc.</p>
					<p align="left" class="fragment"> Jesus was perfect - the only man ever without sin</p>
				</section>
				<section data-transition="fade">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Matthew 3:16-17 And Jesus, when he was baptized, went up straightway out of the water: and, lo, the heavens were opened unto him, and he saw the Spirit of God descending like a dove, and lighting upon him: 17 And lo a voice from heaven, saying, This is my beloved Son, in whom I am well pleased.</p>
							<p>Matthew 4:23-24 And Jesus went about all Galilee, teaching in their synagogues, and preaching the gospel of the kingdom, and healing all manner of sickness and all manner of disease among the people. 24 And his fame went throughout all Syria: and they brought unto him all sick people that were taken with divers diseases and torments, and those which were possessed with devils, and those which were lunatick, and those that had the palsy; and he healed them.</p>
							<p>Matthew 4:17 From that time Jesus began to preach, and to say, Repent: for the kingdom of heaven is at hand.</p>
							<p>John 3:5 Jesus answered, Verily, verily, I say unto thee, Except a man be born of water and of the Spirit, he cannot enter into the kingdom of God.</p>
						</span>
					</aside>
					<p align="left"> At 30 he was baptized and filled with the Holy Spirit</p>
					<p align="left" class="fragment"> He walked around us:</p>
					<ul>
						<li class="fragment">preaching the gospel of the kingdom of God</li>
						<li class="fragment">healing the sick</li>
						<li class="fragment">casting out demons</li>
						<li class="fragment">telling people to repent and be born again of water &amp; the Spirit</li>
					</ul>
				</section>
				<section data-transition="slide-in fade-out">
					<aside class="notes">
						<p style="font-size: 70%">John 19:23-30 Then the soldiers, when they had crucified Jesus, took his garments, and made four parts, to every soldier a part; and also his coat: now the coat was without seam, woven from the top throughout. 24 They said therefore among themselves, Let us not rend it, but cast lots for it, whose it shall be: that the scripture might be fulfilled, which saith, They parted my raiment among them, and for my vesture they did cast lots. These things therefore the soldiers did.<br>25 Now there stood by the cross of Jesus his mother, and his mother's sister, Mary the wife of Cleophas, and Mary Magdalene. 26 When Jesus therefore saw his mother, and the disciple standing by, whom he loved, he saith unto his mother, Woman, behold thy son! 27 Then saith he to the disciple, Behold thy mother! And from that hour that disciple took her unto his own home.<br>28 After this, Jesus knowing that all things were now accomplished, that the scripture might be fulfilled, saith, I thirst. 29 Now there was set a vessel full of vinegar: and they filled a spunge with vinegar, and put it upon hyssop, and put it to his mouth. 30 When Jesus therefore had received the vinegar, he said, It is finished: and he bowed his head, and gave up the ghost.</p>
					</aside>
					<p align="left"><i class="fas fa-cross"></i> This sinless Jesus was cruelly tortured, and died painful &amp; bloody death on the Roman cross, and was buried</p>
					<p align="left" class="fragment"> If He had at any one time lied, stolen, sinned, looked with lust, He would have been guilty</p>
					<p align="left" class="fragment"> But because He had no sin, He rose up again</p>
				</section>
				<section>
					<aside class="notes">
						Resurrection
						<div style="border-style: inset; font-size: 70%">
							<p>Matthew 26:32 But after I am risen again, I will go before you into Galilee.</p>
							<p>1 In the end of the sabbath, as it began to dawn toward the first day of the week, came Mary Magdalene and the other Mary to see the sepulchre. 2 And, behold, there was a great earthquake: for the angel of the Lord descended from heaven, and came and rolled back the stone from the door, and sat upon it. 3 His countenance was like lightning, and his raiment white as snow: 4 And for fear of him the keepers did shake, and became as dead men. 5 And the angel answered and said unto the women, Fear not ye: for I know that ye seek Jesus, which was crucified. 6 He is not here: for he is risen, as he said. Come, see the place where the Lord lay. Matthew 28:1-6</p>
						</div>
						Ascension
						<div style="border-style: inset; font-size: 70%">
							<p>John 16:16 A little while, and ye shall not see me: and again, a little while, and ye shall see me, because I go to the Father.</p>
							<p>Acts 1:9-11 And when he had spoken these things, while they beheld, he was taken up; and a cloud received him out of their sight. 10 And while they looked stedfastly toward heaven as he went up, behold, two men stood by them in white apparel; 11 Which also said, Ye men of Galilee, why stand ye gazing up into heaven? this same Jesus, which is taken up from you into heaven, shall so come in like manner as ye have seen him go into heaven.</p>
						</div>
						Holy Spirit Baptism
						<div style="border-style: inset; font-size: 70%">
							<p>Acts 1:4-5 And, being assembled together with them, commanded them that they should not depart from Jerusalem, but wait for the promise of the Father, which, saith he, ye have heard of me. 5 For John truly baptized with water; but ye shall be baptized with the Holy Ghost not many days hence.</p>
							<p>Acts 2:1-4 And when the day of Pentecost was fully come, they were all with one accord in one place. 2 And suddenly there came a sound from heaven as of a rushing mighty wind, and it filled all the house where they were sitting. 3 And there appeared unto them cloven tongues like as of fire, and it sat upon each of them. 4 And they were all filled with the Holy Ghost, and began to speak with other tongues, as the Spirit gave them utterance.</p>
						</div>
					</aside>
					<p align="left">Just like Jesus had said He would:</p>
					<ul>
						<li class="fragment">Jesus resurrected from the dean on the third day</li>
						<li class="fragment">He rose bodily to heaven, where He sits at the right hand of God</li>
						<li class="fragment">He sent the Holy Spirit to be with us on earth</li>
					</ul>
				</section>
				<section data-transition="zoom-in fade-out" style="background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)">
					<div > 
						<span style="font-size: 400%;">What do we need to do?</span> 
					</div>
				</section>
				<section>
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Acts 2:37-41 (KJV) Now when they heard this, they were pricked in their heart, and said unto Peter and to the rest of the apostles, Men and brethren, what shall we do? 38 Then Peter said unto them, Repent, and be baptized every one of you in the name of Jesus Christ for the remission of sins, and ye shall receive the gift of the Holy Ghost. 39 For the promise is unto you, and to your children, and to all that are afar off, even as many as the Lord our God shall call. 40 And with many other words did he testify and exhort, saying, Save yourselves from this untoward generation. 41 Then they that gladly received his word were baptized: and the same day there were added unto them about three thousand souls.</p>
							<p>Acts 10:42-43 (KJV) And he commanded us to preach unto the people, and to testify that it is he which was ordained of God to be the Judge of quick and dead. 43 To him give all the prophets witness, that through his name whosoever believeth in him shall receive remission of sins.</p>
							<p>Acts 17:30-31 (KJV) And the times of this ignorance God winked at; but now commandeth all men every where to repent: 31 Because he hath appointed a day, in the which he will judge the world in righteousness by that man whom he hath ordained; whereof he hath given assurance unto all men, in that he hath raised him from the dead.</p>
							<p>Mark 16:15-18 (KJV) And he said unto them, Go ye into all the world, and preach the gospel to every creature. 16 He that believeth and is baptized shall be saved; but he that believeth not shall be damned. 17 And these signs shall follow them that believe; In my name shall they cast out devils; they shall speak with new tongues; 18 They shall take up serpents; and if they drink any deadly thing, it shall not hurt them; they shall lay hands on the sick, and they shall recover.</p>
						</span>
					</aside>
					<p align="left"><i class="fas fa-caret-right"></i> Believe in Him AND act on what He is saying</p>
					<p align="left" class="fragment"><i class="fas fa-caret-right"></i> Repent and be born again out of water and Spirit</p>
					<p align="left" class="fragment"><i class="fas fa-caret-right"></i> Then follow Him like the disciples led by the Holy Spirit</p>
				</section>
				<section data-transition="fade-out" data-background-image="https://biyn.bitbucket.io/repent-define.jpg"></section>
				<section data-transition="fade-in">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Isaiah 64:6-7 (KJV) But we are all as an unclean thing, and all our righteousnesses are as filthy rags; and we all do fade as a leaf; and our iniquities, like the wind, have taken us away. 7 And there is none that calleth upon thy name, that stirreth up himself to take hold of thee: for thou hast hid thy face from us, and hast consumed us, because of our iniquities.</p>
							<p>Galatians 5:19-21 (KJV) Now the works of the flesh are manifest, which are these; Adultery, fornication, uncleanness, lasciviousness, 20 Idolatry, witchcraft, hatred, variance, emulations, wrath, strife, seditions, heresies, 21 Envyings, murders, drunkenness, revellings, and such like: of the which I tell you before, as I have also told you in time past, that they which do such things shall not inherit the kingdom of God.</p>
							<p>Proverbs 28:13 (KJV) He that covereth his sins shall not prosper: but whoso confesseth and forsaketh them shall have mercy.</p>
							<p>2 Samuel 12:1-13 (KJV) And the LORD sent Nathan unto David. And he came unto him, and said unto him, There were two men in one city; the one rich, and the other poor. 2 The rich man had exceeding many flocks and herds: 3 But the poor man had nothing, save one little ewe lamb, which he had bought and nourished up: and it grew up together with him, and with his children; it did eat of his own meat, and drank of his own cup, and lay in his bosom, and was unto him as a daughter. 4 And there came a traveller unto the rich man, and he spared to take of his own flock and of his own herd, to dress for the wayfaring man that was come unto him; but took the poor man's lamb, and dressed it for the man that was come to him. 5 And David's anger was greatly kindled against the man; and he said to Nathan, As the LORD liveth, the man that hath done this thing shall surely die: 6 And he shall restore the lamb fourfold, because he did this thing, and because he had no pity.<br>7 And Nathan said to David, Thou art the man. Thus saith the LORD God of Israel, I anointed thee king over Israel, and I delivered thee out of the hand of Saul; 8 And I gave thee thy master's house, and thy master's wives into thy bosom, and gave thee the house of Israel and of Judah; and if that had been too little, I would moreover have given unto thee such and such things. 9 Wherefore hast thou despised the commandment of the LORD, to do evil in his sight? thou hast killed Uriah the Hittite with the sword, and hast taken his wife to be thy wife, and hast slain him with the sword of the children of Ammon. 10 Now therefore the sword shall never depart from thine house; because thou hast despised me, and hast taken the wife of Uriah the Hittite to be thy wife. 11 Thus saith the LORD, Behold, I will raise up evil against thee out of thine own house, and I will take thy wives before thine eyes, and give them unto thy neighbour, and he shall lie with thy wives in the sight of this sun. 12 For thou didst it secretly: but I will do this thing before all Israel, and before the sun. 13 And David said unto Nathan, I have sinned against the LORD. And Nathan said unto David, The LORD also hath put away thy sin; thou shalt not die.</p>
							<p>Ezekiel 36:25-27 (KJV) Then will I sprinkle clean water upon you, and ye shall be clean: from all your filthiness, and from all your idols, will I cleanse you. 26 A new heart also will I give you, and a new spirit will I put within you: and I will take away the stony heart out of your flesh, and I will give you an heart of flesh. 27 And I will put my spirit within you, and cause you to walk in my statutes, and ye shall keep my judgments, and do them.</p>
							<p>Acts 26:18 (KJV) To open their eyes, and to turn them from darkness to light, and from the power of Satan unto God, that they may receive forgiveness of sins, and inheritance among them which are sanctified by faith that is in me.</p>
						</span>
					</aside>
					<p align="left">Appreciate the gravity of your sins against man and God who gave you life and everything you enjoy</p>
					<p align="left" class="fragment">Only then can you commit to turn away from sin and turn towards God</p>
					<p align="left" class="fragment">If you do, God will take away your hardened heart, give you a heart of flesh and heal your conscience</p>
				</section>
				<section data-transition="fade">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>1 Corinthians 6:9-11 (KJV) Know ye not that the unrighteous shall not inherit the kingdom of God? Be not deceived: neither fornicators, nor idolaters, nor adulterers, nor effeminate, nor abusers of themselves with mankind, 10 Nor thieves, nor covetous, nor drunkards, nor revilers, nor extortioners, shall inherit the kingdom of God. 11 And such were some of you: but ye are washed, but ye are sanctified, but ye are justified in the name of the Lord Jesus, and by the Spirit of our God.</p>
							<p>Ezekiel 18:31-32 (KJV) Cast away from you all your transgressions, whereby ye have transgressed; and make you a new heart and a new spirit: for why will ye die, O house of Israel? 32 For I have no pleasure in the death of him that dieth, saith the Lord GOD: wherefore turn yourselves, and live ye.</p>
							<p>Hebrews 3:7-8 (KJV) Wherefore (as the Holy Ghost saith, To day if ye will hear his voice, 8 Harden not your hearts, as in the provocation, in the day of temptation in the wilderness:</p>
						</span>
					</aside>
					<p align="left"> Don't continue sinning and harden your conscience</p>
					<p align="left" class="fragment">
						<i class="far fa-heart"></i>&nbsp;
					Repent and God'll give you a new heart. You'll begin to see how sinful you have been</p>
					<p align="left" class="fragment" style="font-size: smaller;"> You'll forsake your old ways - lying, cursing, stealing, fornicating, evil company, watching blasphemous movies, etc.</p>
					<p align="left" class="fragment">Repent now! <span style="font-style: italic; font-size: smaller;"> &quot;Today, if you hear his voice, do not harden your heart... - Hebrews 3:15&quot;</span></p>
				</section>
				<section data-transition="zoom-in" data-background-color="#83613A">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>2 Corinthians 5:17-18 (KJV) Therefore if any man be in Christ, he is a new creature: old things are passed away; behold, all things are become new. 18 And all things are of God, who hath reconciled us to himself by Jesus Christ, and hath given to us the ministry of reconciliation;</p>
							<p>Romans 6:3-11 (KJV) Know ye not, that so many of us as were baptized into Jesus Christ were baptized into his death? 4 Therefore we are buried with him by baptism into death: that like as Christ was raised up from the dead by the glory of the Father, even so we also should walk in newness of life. 5 For if we have been planted together in the likeness of his death, we shall be also in the likeness of his resurrection: 6 Knowing this, that our old man is crucified with him, that the body of sin might be destroyed, that henceforth we should not serve sin. 7 For he that is dead is freed from sin. 8 Now if we be dead with Christ, we believe that we shall also live with him: 9 Knowing that Christ being raised from the dead dieth no more; death hath no more dominion over him. 10 For in that he died, he died unto sin once: but in that he liveth, he liveth unto God. 11 Likewise reckon ye also yourselves to be dead indeed unto sin, but alive unto God through Jesus Christ our Lord.</p>
							<p>Romans 6:12-14 (KJV) Let not sin therefore reign in your mortal body, that ye should obey it in the lusts thereof. 13 Neither yield ye your members as instruments of unrighteousness unto sin: but yield yourselves unto God, as those that are alive from the dead, and your members as instruments of righteousness unto God. 14 For sin shall not have dominion over you: for ye are not under the law, but under grace.</p>
							<p>Galatians 3:26-27 (KJV) For ye are all the children of God by faith in Christ Jesus. 27 For as many of you as have been baptized into Christ have put on Christ.</p>
							<p>1 Peter 3:18-21 (KJV) For Christ also hath once suffered for sins, the just for the unjust, that he might bring us to God, being put to death in the flesh, but quickened by the Spirit: 19 By which also he went and preached unto the spirits in prison; 20 Which sometime were disobedient, when once the longsuffering of God waited in the days of Noah, while the ark was a preparing, wherein few, that is, eight souls were saved by water. 21 The like figure whereunto even baptism doth also now save us (not the putting away of the filth of the flesh, but the answer of a good conscience toward God,) by the resurrection of Jesus Christ:</p>
						</span>
					</aside>
					<p align="left"> Repentance is the beginning of a new life in Jesus</p>
					<p align="left" class="fragment" style="font-size: smaller;"> The body is dead to sin, and must be buried, just like a dead body must be burried quickly before it rots and causes diseases</p>
					<hr class="fragment">
					<p align="left" class="fragment"> The body that was slave to sin is dead. <span style="font-style: italic;"> The one who sins is a slave to sin - John 8:34</span></p>
					<p align="left" class="fragment" style="font-size: smaller;">Your repentance signifies your acceptance of God's offer to set you free from a life of sin</p>
				</section>
				<section style="color: #C2AB92">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>John 8:34 (KJV) Jesus answered them, Verily, verily, I say unto you, Whosoever committeth sin is the servant of sin.</p>
							<p>Romans 8:1-2 (KJV) There is therefore now no condemnation to them which are in Christ Jesus, who walk not after the flesh, but after the Spirit. 2 For the law of the Spirit of life in Christ Jesus hath made me free from the law of sin and death.</p>
							<p>Acts 22:12-16 (KJV) And one Ananias, a devout man according to the law, having a good report of all the Jews which dwelt there, 13 Came unto me, and stood, and said unto me, Brother Saul, receive thy sight. And the same hour I looked up upon him. 14 And he said, The God of our fathers hath chosen thee, that thou shouldest know his will, and see that Just One, and shouldest hear the voice of his mouth. 15 For thou shalt be his witness unto all men of what thou hast seen and heard. 16 And now why tarriest thou? arise, and be baptized, and wash away thy sins, calling on the name of the Lord.</p>
							<p>Mark 16:16 (KJV) He that believeth and is baptized shall be saved; but he that believeth not shall be damned.</p>
							<p>Colossians 2:12 (KJV) Buried with him in baptism, wherein also ye are risen with him through the faith of the operation of God, who hath raised him from the dead.</p>
						</span>
					</aside>
					<p align="left">No matter what we believe, fast, pray, the one who sins is a slave to sin</p>
					<p align="left" class="fragment"> Repentance is the death to sin - so it sets you free from the law of sin and death</p>
					<p align="left" class="fragment"><i class="fas fa-water fa-xs"></i> Water Baptism is the burial of the dead and the raising of the new body in Christ</p>
					<p align="left" class="fragment">Water Baptism = Die with Christ + Rise with Christ<br> <span style="font-style: italic; float: right; font-size: smaller;"> See Romans 6:1-11</span></p>
				</section>
				<section data-transition="slide-in fade-out">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Acts 2:1-4 (KJV) And when the day of Pentecost was fully come, they were all with one accord in one place. 2 And suddenly there came a sound from heaven as of a rushing mighty wind, and it filled all the house where they were sitting. 3 And there appeared unto them cloven tongues like as of fire, and it sat upon each of them. 4 And they were all filled with the Holy Ghost, and began to speak with other tongues, as the Spirit gave them utterance.</p>
							<p>Acts 10:44-48 (KJV) While Peter yet spake these words, the Holy Ghost fell on all them which heard the word. 45 And they of the circumcision which believed were astonished, as many as came with Peter, because that on the Gentiles also was poured out the gift of the Holy Ghost. 46 For they heard them speak with tongues, and magnify God. Then answered Peter, 47 Can any man forbid water, that these should not be baptized, which have received the Holy Ghost as well as we? 48 And he commanded them to be baptized in the name of the Lord. Then prayed they him to tarry certain days.</p>
							<p>Acts 19:4-7 (KJV) Then said Paul, John verily baptized with the baptism of repentance, saying unto the people, that they should believe on him which should come after him, that is, on Christ Jesus. 5 When they heard this, they were baptized in the name of the Lord Jesus. 6 And when Paul had laid his hands upon them, the Holy Ghost came on them; and they spake with tongues, and prophesied. 7 And all the men were about twelve.</p>
							<p>Luke 4:1 (KJV) And Jesus being full of the Holy Ghost returned from Jordan, and was led by the Spirit into the wilderness,</p>
							<p>John 14:16-17 (KJV) And I will pray the Father, and he shall give you another Comforter, that he may abide with you for ever; 17 Even the Spirit of truth; whom the world cannot receive, because it seeth him not, neither knoweth him: but ye know him; for he dwelleth with you, and shall be in you.</p>
							<p>John 14:26 (KJV) But the Comforter, which is the Holy Ghost, whom the Father will send in my name, he shall teach you all things, and bring all things to your remembrance, whatsoever I have said unto you.</p>
							<p>Galatians 4:4-7 (KJV) But when the fulness of the time was come, God sent forth his Son, made of a woman, made under the law, 5 To redeem them that were under the law, that we might receive the adoption of sons. 6 And because ye are sons, God hath sent forth the Spirit of his Son into your hearts, crying, Abba, Father. 7 Wherefore thou art no more a servant, but a son; and if a son, then an heir of God through Christ.</p>
						</span>
					</aside>
					<p align="left"> That is not all. We also need the Spirit of Christ. <span style="font-style: italic; font-size: smaller;"> Except a man be born of <span style="text-decoration: underline;">water</span> and of <span style="text-decoration: underline;">the Spirit,</span> he cannot enter into the kingdom of God - John 3:5</span></p>
					<p align="left" class="fragment">God gives His Holy Spirit baptism - of which a common sign is speaking in tongues</p>
					<p align="left" class="fragment"> We do not get a little of the Spirit. He is a person. You get the Holy Spirit.</p>
					<p align="left" class="fragment">Holy Spirit gives us the experience of <span style="font-weight: bolder; font-style: oblique;">Living With God</span> </p>
				</section>
				<section>
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Galatians 5:16-18 (KJV) This I say then, Walk in the Spirit, and ye shall not fulfil the lust of the flesh. 17 For the flesh lusteth against the Spirit, and the Spirit against the flesh: and these are contrary the one to the other: so that ye cannot do the things that ye would. 18 But if ye be led of the Spirit, ye are not under the law.</p>
							<p>Romans 8:13-14 (KJV) For if ye live after the flesh, ye shall die: but if ye through the Spirit do mortify the deeds of the body, ye shall live. 14 For as many as are led by the Spirit of God, they are the sons of God.</p>
							<p>Acts 1:8 (KJV) But ye shall receive power, after that the Holy Ghost is come upon you: and ye shall be witnesses unto me both in Jerusalem, and in all Judaea, and in Samaria, and unto the uttermost part of the earth.</p>
							<p>1 Corinthians 12:4-11 (KJV) Now there are diversities of gifts, but the same Spirit. 5 And there are differences of administrations, but the same Lord. 6 And there are diversities of operations, but it is the same God which worketh all in all. 7 But the manifestation of the Spirit is given to every man to profit withal. 8 For to one is given by the Spirit the word of wisdom; to another the word of knowledge by the same Spirit; 9 To another faith by the same Spirit; to another the gifts of healing by the same Spirit; 10 To another the working of miracles; to another prophecy; to another discerning of spirits; to another divers kinds of tongues; to another the interpretation of tongues: 11 But all these worketh that one and the selfsame Spirit, dividing to every man severally as he will.</p>
							<p>Luke 3:21-22 (KJV) Now when all the people were baptized, it came to pass, that Jesus also being baptized, and praying, the heaven was opened, 22 And the Holy Ghost descended in a bodily shape like a dove upon him, and a voice came from heaven, which said, Thou art my beloved Son; in thee I am well pleased.</p>
							<p>Luke 24:49 (KJV) And, behold, I send the promise of my Father upon you: but tarry ye in the city of Jerusalem, until ye be endued with power from on high.</p>
							
						</span>
					</aside>
					<span style="text-align: left;">
						<p>Only in the Holy Spirit can we (i) live a holy life, (ii) obey Jesus' commands in ministry, and (iii) operate in the power of God</p>
						<p class="fragment">Jesus did no public ministry until after He was baptized with Holy Spirit</p>
						<p class="fragment">Jesus's disciples had to wait for Holy Spirit baptism - it came on the Pentecost following His resurrection</p>
					</span>
				</section>
				<section>
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Acts 3:4-7 (KJV) And Peter, fastening his eyes upon him with John, said, Look on us. 5 And he gave heed unto them, expecting to receive something of them. 6 Then Peter said, Silver and gold have I none; but such as I have give I thee: In the name of Jesus Christ of Nazareth rise up and walk. 7 And he took him by the right hand, and lifted him up: and immediately his feet and ankle bones received strength.</p>
							<p>Acts 5:12-16 (KJV) And by the hands of the apostles were many signs and wonders wrought among the people; (and they were all with one accord in Solomon's porch. 13 And of the rest durst no man join himself to them: but the people magnified them. 14 And believers were the more added to the Lord, multitudes both of men and women.) 15 Insomuch that they brought forth the sick into the streets, and laid them on beds and couches, that at the least the shadow of Peter passing by might overshadow some of them. 16 There came also a multitude out of the cities round about unto Jerusalem, bringing sick folks, and them which were vexed with unclean spirits: and they were healed every one.</p>
							<p>Acts 9:40-41 (KJV) But Peter put them all forth, and kneeled down, and prayed; and turning him to the body said, Tabitha, arise. And she opened her eyes: and when she saw Peter, she sat up. 41 And he gave her his hand, and lifted her up, and when he had called the saints and widows, presented her alive.</p>
							<p>Acts 20:9-12 (KJV) And there sat in a window a certain young man named Eutychus, being fallen into a deep sleep: and as Paul was long preaching, he sunk down with sleep, and fell down from the third loft, and was taken up dead. 10 And Paul went down, and fell on him, and embracing him said, Trouble not yourselves; for his life is in him. 11 When he therefore was come up again, and had broken bread, and eaten, and talked a long while, even till break of day, so he departed. 12 And they brought the young man alive, and were not a little comforted.</p>
							<p>Acts 8:5-7 (KJV) Then Philip went down to the city of Samaria, and preached Christ unto them. 6 And the people with one accord gave heed unto those things which Philip spake, hearing and seeing the miracles which he did. 7 For unclean spirits, crying with loud voice, came out of many that were possessed with them: and many taken with palsies, and that were lame, were healed.</p>
							<p>Acts 19:11-12 (KJV) And God wrought special miracles by the hands of Paul: 12 So that from his body were brought unto the sick handkerchiefs or aprons, and the diseases departed from them, and the evil spirits went out of them.</p>
							<p>Acts 5:42 (KJV) And daily in the temple, and in every house, they ceased not to teach and preach Jesus Christ.</p>
						</span>
					</aside>
					<span style="text-align: left;">
						<p>After Holy Spirit baptism, the disciples did all the things Jesus had shown them to do</p>
						<ul>
							<li class="fragment">healed the sick and handicapped</li>
							<li class="fragment">raised the dead</li>
							<li class="fragment">cast out devils</li>
							<li class="fragment">preached the gospel - repentance, baptism in water and Holy Spirit</li>
							<li class="fragment">made disciples who did the same things</li>
						</ul>
					</span>					
				</section>
				<section data-transition="zoom-in" data-transition-speed="slow">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Mark 16:15-18 (KJV) And he said unto them, Go ye into all the world, and preach the gospel to every creature. 16 He that believeth and is baptized shall be saved; but he that believeth not shall be damned. 17 And these signs shall follow them that believe; In my name shall they cast out devils; they shall speak with new tongues; 18 They shall take up serpents; and if they drink any deadly thing, it shall not hurt them; they shall lay hands on the sick, and they shall recover.</p>
							<p>Matthew 28:18-20 (KJV) And Jesus came and spake unto them, saying, All power is given unto me in heaven and in earth. 19 Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost: 20 Teaching them to observe all things whatsoever I have commanded you: and, lo, I am with you alway, even unto the end of the world. Amen.</p>
							<p>Luke 24:46-47 (KJV) And said unto them, Thus it is written, and thus it behoved Christ to suffer, and to rise from the dead the third day: 47 And that repentance and remission of sins should be preached in his name among all nations, beginning at Jerusalem.</p>
							<p>John 21:15-17 (KJV) So when they had dined, Jesus saith to Simon Peter, Simon, son of Jonas, lovest thou me more than these? He saith unto him, Yea, Lord; thou knowest that I love thee. He saith unto him, Feed my lambs. 16 He saith to him again the second time, Simon, son of Jonas, lovest thou me? He saith unto him, Yea, Lord; thou knowest that I love thee. He saith unto him, Feed my sheep. 17 He saith unto him the third time, Simon, son of Jonas, lovest thou me? Peter was grieved because he said unto him the third time, Lovest thou me? And he said unto him, Lord, thou knowest all things; thou knowest that I love thee. Jesus saith unto him, Feed my sheep.</p>
						</span>
					</aside>
					<p align="left"> Jesus said, <span style="font-style: italic; font-size: smaller;"> ...as my Father has sent me, even so send I you - John 20:21</span></p>
					<p align="left" class="fragment"> We are now the body of Christ - His hands, feet, etc. </p>
					<p align="left" class="fragment"> We are now in Christ's place, commissioned to: </p>
					<ul align="left">
						<li class="fragment">live a holy life and be led by Holy Spirit</li>
						<li class="fragment">heal the sick</li>
						<li class="fragment">cast out devils</li>
						<li class="fragment">preach the gospel</li>
						<li class="fragment">make disciples</li>
					</ul>
				</section>
				<section data-transition="zoom-in-fade-out">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Acts 1:10-11 (KJV) And while they looked stedfastly toward heaven as he went up, behold, two men stood by them in white apparel; 11 Which also said, Ye men of Galilee, why stand ye gazing up into heaven? this same Jesus, which is taken up from you into heaven, shall so come in like manner as ye have seen him go into heaven.</p>
							<p>Revelation 21:1-4 (KJV) And I saw a new heaven and a new earth: for the first heaven and the first earth were passed away; and there was no more sea. 2 And I John saw the holy city, new Jerusalem, coming down from God out of heaven, prepared as a bride adorned for her husband. 3 And I heard a great voice out of heaven saying, Behold, the tabernacle of God is with men, and he will dwell with them, and they shall be his people, and God himself shall be with them, and be their God. 4 And God shall wipe away all tears from their eyes; and there shall be no more death, neither sorrow, nor crying, neither shall there be any more pain: for the former things are passed away.</p>
							<p>Revelation 22:1-5 (KJV) And he shewed me a pure river of water of life, clear as crystal, proceeding out of the throne of God and of the Lamb. 2 In the midst of the street of it, and on either side of the river, was there the tree of life, which bare twelve manner of fruits, and yielded her fruit every month: and the leaves of the tree were for the healing of the nations. 3 And there shall be no more curse: but the throne of God and of the Lamb shall be in it; and his servants shall serve him: 4 And they shall see his face; and his name shall be in their foreheads. 5 And there shall be no night there; and they need no candle, neither light of the sun; for the Lord God giveth them light: and they shall reign for ever and ever.</p>
						</span>
					</aside>
					<p align="left"> One day Jesus will return to judge the sinners in hell and take His church into the new Jerusalem</p>
					<p align="left" class="fragment"> He'll bring back the tree of life and well live with Him forever. We'll be able to eat of the tree of life</p>
					<p align="left" class="fragment"> Everything will be restored to the perfection of the original creation - No sin. No temptation</p>
				</section>
				<section>
					<h1 style="color: #629786">a question for you...</h1>
				</section>
				<section data-transition="zoom-in fade-out">
					<b style="font-size: 200%; font-style: oblique; color: #BF9732">If you were to stand before God in judgment today, would you end up in hell or in heaven?</b>
				</section>
				<section data-transition="fade">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>Matthew 7:21-23 (KJV) Not every one that saith unto me, Lord, Lord, shall enter into the kingdom of heaven; but he that doeth the will of my Father which is in heaven. 22 Many will say to me in that day, Lord, Lord, have we not prophesied in thy name? and in thy name have cast out devils? and in thy name done many wonderful works? 23 And then will I profess unto them, I never knew you: depart from me, ye that work iniquity.</p>
							<p>James 2:18-20 (KJV) Yea, a man may say, Thou hast faith, and I have works: shew me thy faith without thy works, and I will shew thee my faith by my works. 19 Thou believest that there is one God; thou doest well: the devils also believe, and tremble. 20 But wilt thou know, O vain man, that faith without works is dead?</p>
						</span>
					</aside>
					<p align="left"> The all important questions are NOT:</p>
					<ul>
						<li>Are you a member of church or denomination?</li>
						<li>Do you believe in God?</li>
					</ul> 
				</section>
				<section data-transition="zoom-in" data-trasition-speed="slow">
					<aside class="notes">
						<span style="font-size: 70%">
							<p>John 3:3 (KJV)Jesus answered and said unto him, Verily, verily, I say unto thee, Except a man be born again, he cannot see the kingdom of God.</p>
							<p>Acts 3:19 (KJV) Repent ye therefore, and be converted, that your sins may be blotted out, when the times of refreshing shall come from the presence of the Lord;</p>
							<p>Luke 3:8-9 (KJV) Bring forth therefore fruits worthy of repentance, and begin not to say within yourselves, We have Abraham to our father: for I say unto you, That God is able of these stones to raise up children unto Abraham. 9 And now also the axe is laid unto the root of the trees: every tree therefore which bringeth not forth good fruit is hewn down, and cast into the fire.</p>
							<p>Colossians 2:12-13 (KJV) Buried with him in baptism, wherein also ye are risen with him through the faith of the operation of God, who hath raised him from the dead. 13 And you, being dead in your sins and the uncircumcision of your flesh, hath he quickened together with him, having forgiven you all trespasses;</p>
							<p>Romans 8:10-11 (KJV)And if Christ be in you, the body is dead because of sin; but the Spirit is life because of righteousness. 11 But if the Spirit of him that raised up Jesus from the dead dwell in you, he that raised up Christ from the dead shall also quicken your mortal bodies by his Spirit that dwelleth in you.</p>
							<p>Acts 10:19-21 (KJV) While Peter thought on the vision, the Spirit said unto him, Behold, three men seek thee. 20 Arise therefore, and get thee down, and go with them, doubting nothing: for I have sent them. 21 Then Peter went down to the men which were sent unto him from Cornelius; and said, Behold, I am he whom ye seek: what is the cause wherefore ye are come?</p>
							<p>Acts 8:29-30 (KJV) Then the Spirit said unto Philip, Go near, and join thyself to this chariot. 30 And Philip ran thither to him, and heard him read the prophet Esaias, and said, Understandest thou what thou readest?</p>
						</span>
					</aside>
					<p align="left"> The all important questions are:</p>
					<ul>
						<li class="fragment">Are you born again?</li>
						<li class="fragment">Have you repented? - that is, recognized and turned away from your sin and turned to God?</li>
						<li class="fragment">Have you buried the old life and been raised with Christ, and received the Holy Spirit?</li>
						<li class="fragment">Do you now live with Christ and are led by the Holy Spirit?</li>
					</ul>
				</section>
				<section>
					<p align="left"><h1>Last Words</h1></p>
				</section>
				<section data-background-color="#7F2964">
					<p align="center"><i class="fas fa-thumbs-up"></i>&nbsp; Thank you for taking the time to go through this information</p>
					<p align="center" class="fragment"><i class="far fa-compass"></i>&nbsp; Ask the person who invited you how you can make this a practical experience in your life</p>
					<p align="center" class="fragment"><i class="fas fa-hands-helping"></i>&nbsp;Let us help each other to grow in Christ, walk with Him as His disciples bearing lots of fruit</p>
				</section>
				<section data-transition="zoom-in" data-transition-speed="slow">
					<p>Comments? </p>
					<p>Feeback?</p>
					<p>Would you like to help translate these slides to another language?</p>
					<p style="font-style: italic; vertical-align: top;">Share at &nbsp;<a href="https://www.facebook.com/liveDailyWithJesus/"><i class="fab fa-facebook fa-2x" style="color: darkblue"></i></a></p>
					<p> <a href="https://www.facebook.com/liveDailyWithJesus/">@liveDailyWithJesus </a></p>
				</section>
			</div>
		</div>
